﻿@{
    Layout = null;
    bool isDevelopmentEnvironment = (HttpContext.Current.IsDebuggingEnabled);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">

    @if (!isDevelopmentEnvironment)
    {
        foreach (var style in CSDemoProject.Helper.FrontendHelper.Assets.Styles)
        {
            <link href="@Url.Content("~/Scripts/Frontend/" + style)" rel="stylesheet">
        }
    }
    <title>CS Demo Application</title>
</head>
<body>
    <div id="app"></div>
    
    @if (isDevelopmentEnvironment)
    {
        <script type="text/javascript" src="http://localhost:8080/app.js"></script>
    }
    else
    {
        foreach (var script in CSDemoProject.Helper.FrontendHelper.Assets.Scripts)
        {
            <script type="text/javascript" src="@Url.Content("~/Scripts/Frontend/" + script)"></script>
        }
    }
</body>
</html>
